* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #6c757d;
}
#container {
  background-color: #f8f9fa;
  width: 80vw;
  /*max-width: 500px;*/
  margin: 0 auto;
  min-height: 100vh;
}

.inputcontainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;

  max-width: 700px;
}

.inputcontainer #input-text {
  border: none;
  outline: none;
  border-radius: 20px;
  padding: 10px;
  flex: 1;
  margin-top: 50px;
  border-bottom: 2px solid #6c757d;
}
.inputcontainer #search-btn {
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 20px;
  margin-top: 50px;
  background-color: #c1c3c5;
  /*border-bottom: 2px solid #a4a9ad;*/
  cursor: pointer;
}
.info-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
  margin: 20px;
}
.flagcontainer {
  width: 250px;
  height: 320px;
  box-shadow: 0 0 5px #6c757d;
  border-radius: 10px;
  padding: 10px;
  margin: 15px;
}
.flag-img {
  width: 100px;
  height: 100px;
}
.title {
  padding: 3px;
  letter-spacing: 0.1rem;
}
.label {
  font-weight: bold;
  margin-bottom: 5px;
}
.readmore-btn {
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 20px;
  margin: 10px;
  /*border-bottom: 2px solid #6c757d;*/
  cursor: pointer;
  background-color: #c1c3c5;

  text-align: center;
}
