@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,600;6..12,800&display=swap");
:root {
  --dark-bg: hsl(207, 26%, 17%);
  --flagcontainer-bg: hsl(209, 23%, 22%);
  --white-text: hsl(0, 0%, 100%);
}
body.light {
  --dark-bg: hsl(0, 0%, 95%);
  --flagcontainer-bg: hsl(0, 0%, 100%);
  --white-text: hsl(200, 15%, 8%);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--dark-bg);
  font-family: "Nunito Sans", sans-serif;
  color: var(--white-text);
}
#container {
  width: 1440px;
  min-height: 100vh;
  margin: 0 auto;
}

.inputcontainer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 5rem;
  align-items: center;
}

.inputcontainer #input-text {
  width: 50%;
  height: 5vh;
  background-color: var(--flagcontainer-bg);
  border-radius: 10px;
  border: none;
  outline: none;
  color: var(--white-text);
  padding: 15px 30px;
  font-size: 1rem;
}
.readmore-btn,
#search-btn {
  border: none;
  outline: none;
  border-radius: 20px;
  margin-top: 1rem;
  padding: 15px 30px;
  font-size: 1rem;
  text-align: center;
  color: var(--white-text);
  cursor: pointer;
}
#search-btn {
  background-color: var(--flagcontainer-bg);
}
.readmore-btn {
  background-color: var(--dark-bg);
}
.info-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 0 auto;
  padding: 1rem;
}
.flagcontainer {
  background-color: var(--flagcontainer-bg);
  width: 20%;

  border-radius: 10px;
  padding: 10px;
  margin: 15px;
}
.flag-img {
  width: 100%;
  height: 20vh;
}
.country-name {
  padding: 1rem 0;
  font-size: 1.5rem;
  font-weight: 800;
}
.title {
  padding: 3px;
  letter-spacing: 0.1rem;
}
.label {
  font-weight: bold;
  margin-bottom: 5px;
}
@media (max-width: 375px) {
  #container {
    width: 375px;
  }
  .flagcontainer {
    width: 100%;
  }
  #search-btn {
    display: none;
  }
}
